sudo: false
language: minimal
services:
  - docker

env:
  global:
    - ROCK_NAME=luatest
    - PRODUCT=luatest

before_script:
  - git describe --long

_test: &test
  before_install:
    - curl http://download.tarantool.org/tarantool/$TARANTOOL_VERSION/gpgkey | sudo apt-key add -
    - echo "deb http://download.tarantool.org/tarantool/$TARANTOOL_VERSION/ubuntu/ xenial main" |
      sudo tee /etc/apt/sources.list.d/tarantool.list
    - sudo apt-get -y update
    - sudo apt-get install -y tarantool tarantool-dev
  script:
    - cmake .
    - make lint selftest

_deploy_to_packagecloud: &deploy_to_packagecloud
  provider: packagecloud
  username: tarantool
  token: $PACKAGECLOUD_TOKEN
  dist: $OS/$DIST
  package_glob: build/*.{rpm,deb}
  skip_cleanup: true
  # Deploy only tags
  on:
    tags: true

# Pack and deploy packages to PackageCloud
_packpack: &packpack
  stage: deploy
  # Build packages only at `pr` stage, skip at `push` stage
  if: branch = master
  script:
    - git clone https://github.com/packpack/packpack.git
    - packpack/packpack
    - ls -l build/
  deploy:
    - <<: *deploy_to_packagecloud
      repository: '1_10'
    - <<: *deploy_to_packagecloud
      repository: '2x'
    - <<: *deploy_to_packagecloud
      repository: '2_2'

jobs:
  include:
    - <<: *test
      env: TARANTOOL_VERSION=1.10
    - <<: *test
      env: TARANTOOL_VERSION=2x
    - stage: deploy
      name: Publish rockspecs
      script: skip
      deploy:
        - provider: script
          script: curl --fail -X PUT -F rockspec=@$ROCK_NAME-scm-1.rockspec
            https://$ROCKS_USERNAME:$ROCKS_PASSWORD@$rocks.tarantool.org
        - on:
            tags: true
          provider: script
          script: cat $ROCK_NAME-scm-1.rockspec |
            sed -E
              -e "s/branch = '.+'/tag = '$TRAVIS_TAG'/g"
              -e "s/version = '.+'/version = '$TRAVIS_TAG-1'/g" |
            curl --fail -X PUT -F "rockspec=@-;filename=$ROCK_NAME-$TRAVIS_TAG-1.rockspec"
              https://$ROCKS_USERNAME:$ROCKS_PASSWORD@$rocks.tarantool.org

    - <<: *packpack
      env: OS=el DIST=7
    - <<: *packpack
      env: OS=el DIST=8
    - <<: *packpack
      env: OS=fedora DIST=30
    - <<: *packpack
      env: OS=ubuntu DIST=trusty
    - <<: *packpack
      env: OS=ubuntu DIST=xenial
    - <<: *packpack
      env: OS=ubuntu DIST=bionic
    - <<: *packpack
      env: OS=ubuntu DIST=eoan
    - <<: *packpack
      env: OS=debian DIST=jessie
    - <<: *packpack
      env: OS=debian DIST=stretch
    - <<: *packpack
      env: OS=debian DIST=buster

notifications:
  email:
    recipients:
      - build@tarantool.org
    on_success: change
    on_failure: always
