name: Run tests

on:
  push:
  pull_request:

jobs:
  run-tests-ce:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'pull_request' && github.event.pull_request.head.repo.owner.login != 'tarantool'
    strategy:
      matrix:
        tarantool: ["1.10", "2.6", "2.7", "2.8", "2.10"]
      fail-fast: false
    runs-on: [ubuntu-20.04]
    steps:
      - uses: actions/checkout@master
      - uses: tarantool/setup-tarantool@v1
        with:
          tarantool-version: '${{ matrix.tarantool }}'

      - name: Install requirements for community
        run: |
          cmake -S . -B build
          make -C build bootstrap

      # This server starts and listen on 8084 port that is used for tests
      - name: Stop Mono server
        run: sudo kill -9 $(sudo lsof -t -i tcp:8084) || true

      - name: Run linter
        run: make -C build lint

      - name: Run tests
        run: bin/luatest -v --shuffle group
